body {
	background: white;
	text-align: center;
}

h1 {
	color: teal;
}

.container {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	padding: 20px;
}

.item {
	text-align: center;
}

.content {
	display: inline-block;
	text-align: left;
}

.button {
	height: 20px;
	background-color: white;
}

ul {
	list-style: none;
}

.form {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 200px) {
	.container {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	main {
		margin: 0 auto;
		width: 80%;
		align-content: center;
		background-color: rgb(228, 228, 228);
	}
}
